.cards-location {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
  background-color: gainsboro;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
}

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.creating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.create-btn {
  background-color: green !important;
  color: white;
  margin-right: 50px;
  padding: 20px 40px;
  font-size: 20px;
}

#operations {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.share-btn{
  margin-left: 50px;
  padding: 20px 40px;
  font-size: 20px;
}

#filterstatus {
  margin-right: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

#sortOrder {
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 15px;
}

.search {
  margin-top: 10px;
  padding: 15px;
  padding-right: 100px;
  width: 300px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.each-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  color: #2d3748;
  text-align: center;
  font-size: 25px;
}

.finished-loading {
  color: red;
  text-align: center;
  font-size: 25px;
}

.cards-location {
  max-width: 2050px;
  margin: auto;
  padding: 10px;
}

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.creating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

#operations {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filterstatus {
  margin-right: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

#sortOrder {
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 15px;
}

.search {
  margin-top: 10px;
  padding: 15px;
  padding-right: 100px;
  width: 300px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.each-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  color: #2d3748;
  text-align: center;
  font-size: 25px;
}

.finished-loading{
  color: red;
  text-align: center;
  font-size: 25px;
}

.all{
  height: 100% !important;
}