
.home-page-container {
    padding: 20px 50px;
    text-align: center;
  }
  
  .home-page-title {
    color: #007BFF;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .infos{
    background-color: whitesmoke;
    padding: 30px 120px;
    padding-bottom: 100px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

.about-part{
  background-color: gainsboro;
  padding: 50px 100px;
}

.about{
  color: black;
  font-size: 18px;
}